#1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Pradeep Kumar"
print(my_name)

Pradeep Kumar

#2. Write a code to find the length of the string "Hello World".

In [ ]:
my_string = "Hello World"
print(len(my_string))

11

#3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
my_string = "Python Programming"
print(my_string[0:3])
    # Or simply:
    # print(my_string[:3])

Pyt

#4. Write a code to convert the string "hello" to uppercase.

In [ ]:
my_string = "hello"
print(my_string.upper())

HELLO

#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
my_string = "I like apple"
print(my_string.replace("apple", "orange"))

I like orange

#6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

#10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)
    # Alternatively, using slicing:
    # my_list = [10, 20, 30, 40, 50]
    # reversed_list = my_list[::-1]
    # print(reversed_list)

[50, 40, 30, 20, 10]

#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index("cat"))

1

#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits_tuple = ("apple", "banana", "orange")
print("kiwi" in fruits_tuple)

False

#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

#18. Write a code to remove element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))
    # Alternatively:
    # print(set1 | set2)

{1, 2, 3, 4, 5}

#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))
    # Alternatively:
    # print(set1 & set2)

{2, 3}

#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict = {
"name": "Jane",
"age": 30,
"city": "London"
}
print(my_dict)

{'name': 'Jane', 'age': 30, 'city': 'London'}

#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.** [cite: 39]

In [ ]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
print("city" in my_dict)

True

#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, "hello"]
my_tuple = (10, "world", 20)
my_dictionary = {"key1": "value1", "key2": 123}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

List: [1, 2, 'hello']
Tuple: (10, 'world', 20)
Dictionary: {'key1': 'value1', 'key2': 123}

#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random

random_numbers = []
for _ in range(5):
  random_numbers.append(random.randint(1, 100))

random_numbers.sort()
print(random_numbers)

[10, 22, 48, 69, 76]

#28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_string_list[3])

date

#29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)
    # Alternatively, for Python 3.9+:
    # combined_dict = dict1 | dict2
    # print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#30. Write a code to convert a list of strings into a set.

In [ ]:
string_list = ["apple", "banana", "apple", "orange"]
string_set = set(string_list)
print(string_set)

{'orange', 'banana', 'apple'}